.header {

  padding-top: 45px;
  padding-right: 5%;

  .active {
    border: 1px solid $base__text-color;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    width: 100%;
    height: 90vh;
    grid-template-areas: "image top"
    "image bottom";
  }

  &__image {
    background: transparent url("../../assets/Hero Image.png") no-repeat right;
    background-size: cover;
    grid-area: image;

  }

  &__top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .login__link {
    font-size: 0.875*$base__font-size;
    color: $base__text-color;
    padding: 0 20px 0 0;
    margin-bottom: 25px;
  }

  &__menu {
    display: flex;
    flex-direction: row;

    &-item {
      padding: 20px;
    }
  }

  &__bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  &__title {
    font-size: 2.375*$base__font-size;
    text-align: center;
    line-height: 2.45*$base__font-size;
    letter-spacing: -0.76px;
    position: relative;

    &::after {
      display: block;
      content:"";
      position: absolute;
      background: transparent url('../../assets/Decoration.svg') no-repeat padding-box;
      top:110%;
      left:30%;
      height: 33px;
      width: 37%;
    }

  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    text-transform: uppercase;
    border: 0.75px solid #3C3C3C;
    width: 310px;
    height: 120px;
    padding: 10px 50px;
    text-align: center;
    font-size: 2.25*$base__font-size;
    line-height: 45px;
    font-weight: 300;
  }


}