@import "../settings/all";

.register {
  .container {
    height: 90vh;
    padding-top: 45px;
    padding-right: 5%;

  }

  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 384px;
      height: 300px;
      padding: 0 40px 20px 40px;
      background: $background__lighter-color;

    }
  }

  &__title {
    display: block;
    height: 50px;
    position: relative;
    margin-bottom: 3em;

    &::after {
      @include decoration
    }

  }

  &__form {
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__buttons {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    font-size: 1.125*$base__font-size;
    color: $base__text-color;
    font-weight: 300;
    background: none;
    border: none;
    outline: none;
    padding: 10px 20px;
  }
}