// *--------- COLORS ---------*

$background__lighter-color: #F0F1F1;
$background__darker-color: #E8E9E4;
$base__text-color:#3C3C3C;
$special__text-color: #5E5322;
$accent__yellow-color: #FAD648;
$color: #737373;
