
// *--------- TYPOGRAPHY ---------*
$base__font-family: "Open Sans", sans-serif; // 300, 400, 700
$base__font-size: 16px;
$base__font-weight: 400;
$base__font-weight--bold: 700;

$alt__font-family: 'Merriweather', serif; //300, 400, 700


